
/*Content*/
body {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}

/*Nav*/
.abc-banner {
    font-family: 'Rochester', cursive;
    }

.navbar {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.navbar-brand {
    font-size: 35px;
}

.navbar-default .navbar-brand {
    color: #00C5CD;
}

/*Header*/
.font-style {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #F08080;
}
p {
    color: #828282;
}

/*Section*/
section {
    background-color: #6dbf44;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 70px;
}

.margin-top {
    margin-top: 20px;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

img {
    box-shadow: 2px 2px 2px #363636;
}

img:hover{
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
transform: rotate(-10deg);}

.modal-title {
    font-size: 30px;
}

/*Footer*/
footer {
    background-color: #ffff00;
    text-align: center;
    height: 140px;
}

.social-styles {
    list-style-type: none;
    display: inline-flex;
    margin-top: 7%;
}

.padding-right {
    padding-right: 30px;
}

/* Media */

@media only screen and (min-width: 320px) {

    footer {
        height: 200px;
    }

    .social-styles {
        margin-right: 50px;
    }

    .responsive-margin {
        margin-top: 20px;
    }

}
